@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

:root {
    --light: #f6f6f9;
    --primary: #1976D2;
    --light-primary: #CFE8FF;
    --grey: #eee;
    --blue: #3c91e6;
    --dark-grey: #AAAAAA;
    --dark: #363949;
    --danger: #D32F2F;
	--light-danger: #FECDD3;
    --warning: #FBC02D;
    --light-warning: #FFF2C6;
    --success: #0e4bf1;
    --light-success: #BBF7D0;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif; 
}

.bx{
    font-size: 1.7rem;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

html{
    overflow-x: hidden;
}

body.dark{
    --light: #181a1e;
    --grey: #25252c;
    --dark: #fbfbfb
}

body{
    background: var(--grey);
    overflow-x: hidden;
}

/* SIDEBAR */

.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    background: var(--light);
    width: 230px;
    height: 100%;
    z-index: 2000;
    overflow-x: hidden;
    scrollbar-width: none;
    transition: all 0.3s ease;
}

.sidebar::-webkit-scrollbar{
    display: none;
}



.sidebar .logo{
    font-size: 24px;
    font-weight: 700;
    height: 56px;
    display: flex;
    align-items: center;
    color: var(--primary);
    z-index: 500;
    padding-bottom: 20px;
    box-sizing: content-box;
}

.sidebar .logo .logo-name span{
    color: var(--dark);
}

.sidebar .logo .bx{
    min-width: 60px;
    display: flex;
    justify-content: center;
    font-size: 2.2rem;
}

.sidebar .side-menu{
    width: 100%;
    margin-top: 48px;
}

.sidebar .side-menu li{
    height: 48px;
    background: transparent;
    margin-left: 6px;
    border-radius: 48px 0 0 48px;
    padding: 4px;
}

.sidebar .side-menu li.active{
    background: var(--grey);
    position: relative;
}

.sidebar .side-menu li.active::before{
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    top: -40px;
    right: 0;
    box-shadow: 20px 20px 0 var(--grey);
    z-index: -1;
}

.sidebar .side-menu li.active::after{
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    bottom: -40px;
    right: 0;
    box-shadow: 20px -20px 0 var(--grey);
    z-index: -1;
}

.sidebar .side-menu li a{
    width: 100%;
    height: 100%;
    background: var(--light);
    display: flex;
    align-items: center;
    border-radius: 48px;
    font-size: 16px;
    color: var(--dark);
    white-space: nowrap;
    overflow-x: hidden;
    transition: all 0.3s ease;
}

.sidebar .side-menu li a:hover{
    color: var(--blue);
}

.sidebar .side-menu li.active a{
    color: var(--success);
}

/* on sidebar is closed */
.sidebar.close {
    width: 60px;
}

.sidebar.close .side-menu li a{
    width: calc(48px - (4px * 2));
    transition: all 0.3s ease;
}

.sidebar.close~.content {
    width: calc(100% - 60px);
    left: 60px;
}



.sidebar .side-menu li a .bx{
    min-width: calc(60px - ((4px + 6px) * 2));
    display: flex;
    font-size: 1.6rem;
    justify-content: center;
}

.sidebar .side-menu li a.logout{
    color: var(--danger);
}

/* END of SIDEBAR */

/* CONTENT */

.content{
    position: relative;
    width: calc(100% - 230px);
    left: 230px;
    transition: all 0.3s ease;
}

.content nav{
    height: 56px;
    background: var(--light);
    padding: 0 24px 0 0;
    display: flex;
    align-items: center;
    grid-gap: 24px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;
}

.content nav::before{
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    bottom: -40px;
    left: 0;
    border-radius: 50%;
    box-shadow: -20px -20px 0 var(--light);
}

.content nav a{
    color: var(--dark);
}

.content nav .bx.bx-menu{
    cursor: pointer;
    color: var(--dark);
}

.content nav form{
    max-width: 400px;
    width: 100%;
    margin-right: auto;
}

.content nav form .form-input{
    display: flex;
    align-items: center;
    height: 36px;
}

.content nav form .form-input input{
    flex-grow: 1;
    padding: 0 16px;
    height: 100%;
    border: none;
    background: var(--grey);
    border-radius: 36px 0 0 36px;
    outline: none;
    width: 100%;
    color: var(--dark);
}

.content nav form .form-input button{
    width: 80px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--primary);
    color: var(--light);
    font-size: 18px;
    border: none;
    outline: none;
    border-radius: 0 36px 36px 0;
    cursor: pointer;
}



.content nav .profile img{
    width: 36px;
    height: 36px;
    object-fit: cover;
    border-radius: 50%;
}

.content nav .theme-toggle{
    display: block;
    min-width: 50px;
    height: 25px;
    background: var(--grey);
    cursor: pointer;
    position: relative;
    border-radius: 25px;
}

.content nav .theme-toggle::before{
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    bottom: 2px;
    width: calc(25px - 4px);
    background: var(--primary);
    border-radius: 50%;
    transition: all 0.3s ease;
}

.content nav #theme-toggle:checked+.theme-toggle::before{
    left: calc(100% - (25px - 4px) - 2px);
}

/* Drop Menu */
.drop-menu-link-settings span{
    transform: rotateZ(90deg);
    transition: all 0.4s ease;

}

.drop-menu-link-settings .rotate-arrow{
    transform: rotateZ(270deg);
}

.drop-menu-wrap{
    position: absolute;
    top: 100%;
    right: 5%;
    margin-top: 1rem;
    border-radius: 10px; 
    width: 280px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s;
}

.drop-menu-wrap.open-menu{
    max-height: 198px;
}

.drop-menu-wrap.open-setting{
    max-height: 600px;
}


.drop-menu{
    background: var(--light);
    padding: 20px; 
    border-radius: 10px;
}

.user-info{
    display: flex;
    align-items: center;
}

.user-info h3{
    font-weight: 500;
    font-size: 18px;
}

.user-info h3 span{
    font-weight: 400;
    font-size: 12px;
}

.content nav .user-info img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 15px;
}

.drop-menu hr{
    border: 0;
    height: 1px;
    width: 100%;
    background: var(--dark);
    margin: 10px 0 0px;
    cursor: default;
}

.drop-menu-link{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--dark);
    margin: 5px 0;
    font-weight: 400;
}

.drop-menu-link p{
    width: 100%;
    padding: 10px;
}

.content nav .drop-menu-link i{
    font-size: 22px;
    padding-top: 1px;
}

.content nav .drop-menu-link span{
    font-size: 22px;
    transition: transform 0.5s;
}

/* .content nav .drop-menu-link:hover span{
    transform: translateX(5px);
} */

.drop-menu-link:hover p{
    font-weight: 600;
}

/* Radio Buttons */

.content nav .drop-menu-wrap .radio-item [type="radio"]{
    display: none;
}

.content nav .drop-menu-wrap .radio-item + .radio-item{
    margin-top: 5px;
}
.content nav .drop-menu-wrap .radio-item label{
    display: block;
    padding: 5px 60px;
    background: var(--grey);
    color: var(--dark);
    border-radius: 6px;
    cursor: pointer;
    font-size: 12px;
    font-weight: 500;
    min-width: 25px;
    white-space: nowrap;
    position: relative;
}
.content nav .drop-menu-wrap .radio-item label:after,
.radio-item label:before{
    content: "";
    position: absolute;
    border-radius: 50%;
}

.content nav .drop-menu-wrap .radio-item label:after{
    height: 15px;
    width: 15px;
    border:2px solid #524eee;
    left: 20px;
    top: calc(50% - 10px);
}
.content nav .drop-menu-wrap .radio-item label:before{
    background: #524eee;
    height: 10px;
    width: 10px;
    left: 10.1%;
    top: 30%;
    transform: scale(2.5);
    transition: .4s ease-in-out 0s;
    opacity: 0;
    visibility: hidden;
}
.content nav .drop-menu-wrap .radio-item [type="radio"]:checked ~ label{
    border-color: #524eee;
}

.content nav .drop-menu-wrap .radio-item [type="radio"]:checked ~ label:before{
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}

.content nav .drop-menu .btns{
    text-align: center;
}

.content nav .drop-menu .btns button{
    color: white;
    background-color: #5874C6;
    border: none;
    outline: none;
    padding: 7px 20px;
    border-radius: 8px;
    margin-top: 20px;
    cursor: pointer;
}
/* End of Radio Buttons */
/* End of Drop Menu */

.content main{
    width: 100%;
    padding: 36px 24px;
    max-height: calc(100vh - 56px);
    margin-bottom: -3%;
}

.content main .cati h1{
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 10px;
    color: var(--dark);
}

/* Test */
main .cati .wrapper h1{
    color: var(--dark);
}
main .cati .wrapper h2{
    text-align: left;
    color: var(--dark);
    font-weight: 500;
    font-size: 18px;
}

main .cati .line{
    height: 25px;
    max-width: 15rem;
    line-height: 25px;
    font-size: 10px;
    color: var(--dark);
    background: var(--grey);
    padding:  0 0 0 10px;
    position: relative;
    border-radius: 50px;
    z-index: -2;
    font-weight: 700;
}

.line::after{
    content: '';
    background: linear-gradient(45deg, #ee0979,#ff6a00);
    height: 25px;
    transform: .5s;
    display: block;
    width: 100%;
    animation: animate 1 4s;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 50px;
}

.video::after{
    max-width: 100%;
}

.image::after{
    max-width: 80%;
}

.docs::after{
    max-width: 60%;
}

.audio::after{
    max-width: 40%;
}

@keyframes animate{
    0%{
        width: 0;
    }

    100%{
        width: 100%;
    }
}
/* End of Test */

.content main .insights{
    display: grid;
    grid-template-columns: 1fr 1fr; /*repeat(auto-fit, minmax(240px, 1fr));*/
    grid-gap: 24px;
    margin-top: 36px;
}

.content main .insights li{
    padding: 24px;
    background: var(--light);
    border-radius: 20px;
    display: flex;
    align-items: center;
    grid-gap: 24px;
    cursor: pointer;
}

.content main .insights li .bx{
    width: 80px;
    height: 80px;
    border-radius: 10px;
    font-size: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content main .insights li:nth-child(1) .bx{
    background: var(--light-primary);
    color: var(--primary);
}

.content main .insights li:nth-child(2) .bx{
    background: var(--light-warning);
    color: var(--warning);
}

.content main .insights li:nth-child(3) .bx{
    background: var(--light-success);
    color: var(--success);
}

.content main .insights li:nth-child(4) .bx{
    background: var(--light-danger);
    color: var(--danger);
}

.content main .insights li .info h3{
    font-size: 24px;
    font-weight: 600;
    color: var(--dark);
}

.content main .insights li .info p{
    color: var(--dark);
}

.content main .bottom-data{
    display: flex;
    flex-wrap: wrap;
    grid-gap: 24px;
    margin-top: 24px;
    color: var(--dark);
}

.content main .bottom-data>div{
    border-radius: 20px;
    background: var(--light);
    padding: 24px;
    overflow-x: auto;
}

.content main .bottom-data .header{
    display: flex;
    align-items: center;
    grid-gap: 16px;
    margin-bottom: 24px;
}

.content main .bottom-data .header h3{
    margin-right: auto;
    font-size: 24px;
    font-weight: 600;
}

.content main .bottom-data .header .bx{
    cursor: pointer;
}

/* END of CONTENT */

/* Upload Buttun */


.content .container {
    text-align: center;
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 435px;
    background-color: var(--light);
    border-radius: 20px;
    margin-top: 36px;
}

.main-container{
    display: flex;
    width: 100%;
    gap: 2rem;
}

.main-container div:first-child{
    flex-grow: 1;
    grid-template-rows: auto 1fr;
}

.header-section{
    padding: 36px 24px;
}
.header-section h1{
    font-weight: 500;
    font-size: 1.7rem;
    text-transform: uppercase;
    color: var(--dark);
    margin: 0px;
    margin-bottom: 8px;
}
.header-section p{
    margin: 5px;
    font-size: 0.95rem;
    color: var(--dark);
}

.drop-section{
    min-height: 250px;
    border: 1px dashed #A8B3E3;
    background-image: linear-gradient(180deg, var(--light), var(--grey));
    margin: 5px 35px 35px 35px;
    border-radius: 12px;
    position: relative;
}
.drop-section div.col:first-child{
    opacity: 1;
    visibility: visible;
    transition-duration: 0.2s;
    transform: scale(1);
    width: 200px;
    margin: auto;
}
.drop-section div.col:last-child{
    font-size: 40px;
    font-weight: 700;
    color: var(--dark);
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: auto;
    width: 200px;
    height: 55px;
    pointer-events: none;
    opacity: 0;
    visibility: hidden;
    transform: scale(0.6);
    transition-duration: 0.2s;
}
/* we will use "drag-over-effect" class in js */
.drag-over-effect div.col:first-child{
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transform: scale(1.1);
}
.drag-over-effect div.col:last-child{
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}
.drop-section .cloud-icon{
    margin-top: 25px;
    margin-bottom: 20px;
}
.drop-section span,
.drop-section button{
    display: block;
    margin: auto;
    color: #707EA0;
    margin-bottom: 10px;
}
.drop-section button , .list-section button{
    color: white;
    background-color: #5874C6;
    border: none;
    outline: none;
    padding: 7px 20px;
    border-radius: 8px;
    margin-top: 20px;
    cursor: pointer;
}
.drop-section input{
    display: none;
}

.list-section{
    display: none;
    text-align: left;
    margin: 0px;
    padding-bottom: 20px;
    width: 100%;
    padding-inline: 1rem;
}

.list-section .item2{
    position: relative;
}
.list-section .item2 .file-name {
    position: absolute;
    width: 97%;
}

.list-section .item2 .file-name span {
        position: absolute;
        right: 0;
        bottom: -24px;
}

.list-section .item2 .file-progress{
position: absolute;
    bottom: 6px;
    max-width: 85%;
}

.list-section .item2 .file-size {
    position: absolute;
    bottom:0
}

.list-section .list-title{
    font-size: 0.95rem;
    color: #707EA0;
}
.list-section li{
    display: flex;
    margin: 15px 0px;
    padding-top: 4px;
    padding-bottom: 2px;
    border-radius: 8px;
    transition-duration: 0.2s;
    text-overflow: ellipsis;
    overflow: hidden;
}

.list-section li .col{
    flex: .1;
}
.list-section li .col:nth-child(1){
    flex: .15;
    text-align: center;
}
.list-section li .col:nth-child(2){

    flex: .75;
    text-align: left;
    font-size: 0.9rem;
    color: #3e4046;
    padding: 8px 10px; 
}
.list-section li .col:nth-child(2) div.name{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 100%; /*250px*/
    display: inline-block;
}
.list-section li .col .file-name span{
    color: #707EA0;
    float: right;
}
.list-section li .file-progress{
    width: 100%;
    height: 5px;
    margin-top: 8px;
    border-radius: 8px;
    background-color: #dee6fd;
}
.list-section li .file-progress span{
    display: block;
    width: 0%;
    height: 100%;
    border-radius: 8px;
    background-image: linear-gradient(120deg, #6b99fd, #9385ff);
    transition-duration: 0.4s;
}
.list-section li .col .file-size{
    font-size: 0.75rem;
    margin-top: 3px;
    color: #707EA0; 
}
.list-section li .col svg.cross,
.list-section li .col svg.tick{
    fill: #8694d2;
    background-color: #dee6fd;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}
.list-section li .col svg.tick{
    fill: #50a156;
    background-color: transparent;
}
.list-section li.complete span,
.list-section li.complete .file-progress,
.list-section li.complete svg.cross{
    display: none;
}
.list-section li.in-prog .file-size,
.list-section li.in-prog svg.tick{
    display: none;
}

/* END of Upload Buttun */

@media screen and (max-width:1100px) {
    .container.upload.upload-item{
        
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 0px;
    }

    .main-container{
        flex-direction: column;
        gap:24px;
    }
    
}

/* FOR MOBILE VIEW */

@media screen and (max-width: 768px) {
    .sidebar{
        width: 200px;

    }

    .content{
        width: calc(100% - 60px);
        left: 200px;
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }

    .content main .insights{
        display: grid;
        grid-template-columns: auto auto;
        width: 100%;
        max-width: 100%;
        flex-wrap: wrap;
    }

    .container.upload.upload-item{
        
        width: 100%;
        max-width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        margin-top: 0px;
        }

}

@media screen and (max-width: 590px) {
    
    .content nav form .form-input input{
        display: none;
    }

    .content nav form .form-input button{
        width: auto;
        height: auto;
        background: transparent;
        color: var(--dark);
        border-radius: none;
    }

    .content nav form.show .form-input input{
        display: block;
        width: 100%;
    }

    .content nav form.show .form-input button{
        width: 36px;
        height: 100%;
        color: var(--light);
        background: var(--danger);
        border-radius: 0 36px 36px 0;
    }

    .content main .insights{
        display: grid;
        grid-template-columns: auto auto;
        justify-content: center;
        width: 100%;
        max-width: 100%;
        flex-wrap: wrap;
    }

    .content main .insights li .bx{
        width: 60px;
        height: 60px;
        border-radius: 20px;
    }

    .content main .insights li h3{
        display: none;
    }

    .content main .insights li p{
        display: none;
    }

    .container.upload.upload-item{
        width: 100%;
        max-width: 100%;
        display: flex;
        flex-direction: column;
        margin-top: 0px;
        }

    .container.upload.upload-item span{
        display: none;
    }
}

@media screen and (max-width: 415px){

    .content main {
        padding-left: 0.5em;
    }
    
    .content main .insights{
        display: grid;
        grid-template-columns: auto auto;
        width: 100%;
        max-width: 100%;
        flex-wrap: wrap;
    }

    .content main .insights li .bx{
        width: 50px;
        height: 50px;
        border-radius: 10 px;
    }

    .container.upload.upload-item{
        width: 100%;
        max-width: 100%;
        display: flex;
        flex-direction: column;
        }
    }

/* END of MOBILE VIEW */

/* That is End */